###
# Unity folders and files
###
/Miro_Environment/[Aa]ssets/AssetStoreTools*
/Miro_Environment/[Bb]uild/
/Miro_Environment/[Ll]ibrary/
/Miro_Environment/[Ll]ocal[Cc]ache/
/Miro_Environment/[Oo]bj/
/Miro_Environment/[Tt]emp/
/Miro_Environment/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
